<%- include('partials/header'); -%>
    <h1>HOME</h1>
    <p><%= homeStartingContent %></p>
    
    <% posts.forEach(function(arrayElement){ %>
        <h2><%= arrayElement.title %></h2>
        <p><%= arrayElement.content.substring(0,100) + "..." %></p>
        <a href="/posts/<%= arrayElement.title %>" >Read more</a>
    <% }) %>



<%- include('partials/footer'); -%>