<%- include('partials/header'); -%>
    <h1>HOME</h1>
    <p><%= homeStartingContent %></p>
    
    <% posts.forEach(function(arrayElement){ %>
        <h2><%= arrayElement.title %></h2>
        <p><%= arrayElement.post %></p>
    <% }) %>



<%- include('partials/footer'); -%>